@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
::-webkit-input-placeholder {
  color: #c6c6c6;
  font-weight: 100;
}
::-moz-placeholder {
  color: #c6c6c6;
}
:-ms-input-placeholder {
  color: #c6c6c6;
}
:-moz-placeholder {
  color: #c6c6c6;
}

* {
  margin: 0;
  padding: 0;
  background: scroll transparent none 0 0 repeat;
  border: 0 none #000;
  outline: 0 none #000;
  border-radius: 0;
  box-shadow: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  text-align: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  line-height: inherit;
  vertical-align: top;
  cursor: inherit;
  -webkit-tap-highlight-color: transparent;
  position:relative;
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}
.clear{
  clear: both;
  float:none;
}
body {
  background-color: #f9f9f9;
  color: #000;
  font-size: 16px;
  font-family: Arial,sans-serif;
  text-align: left;
  line-height: 1.4;
  z-index: 0;
  cursor: default;
}




.ace-logo{
  text-align:center;
  margin-top:20px;
  a{
    display:inline-block;
    cursor:pointer;
  }
}
