@import url("fonts/stylesheet.css");
::-webkit-input-placeholder {
  color: #c6c6c6;
  font-weight: 100; }

::-moz-placeholder {
  color: #c6c6c6; }

:-ms-input-placeholder {
  color: #c6c6c6; }

:-moz-placeholder {
  color: #c6c6c6; }

.animate, .weather_widget_wrap .settings-btn {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }
  .animate.fast, .weather_widget_wrap .fast.settings-btn, .location_form {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

h1, h2, h3, h4, h5, h6 {
  width: 100%;
  display: block;
  margin: 0 0 20px; }

h1 {
  font-size: 26px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.clear {
  clear: both;
  float: none; }

body {
  background-color: #f9f9f9;
  color: #000;
  font-size: 16px;
  font-family: 'dk_cool_crayonregular',sans-serif;
  text-align: left;
  line-height: 1.4;
  z-index: 0;
  cursor: default; }

html, body, .blackboard_wrap {
  height: 100%; }

.blackboard_wrap {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 30px 30px 5px 30px;
  margin: 20px;
  background-color: #6D4D0B;
  background-image: repeating-linear-gradient(10deg, transparent, transparent 65px, rgba(255, 255, 255, 0.05) 0, rgba(255, 255, 255, 0.01) 70px);
  box-shadow: inset 1px 1px 2px 2px rgba(255, 255, 255, 0.45), inset -1px -1px 2px 2px black;
  max-height: 100%; }
  .blackboard_wrap .blackboard_bg {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 20px;
    background: #042304;
    color: #fff;
    border: 1px solid #3C2A04;
    box-shadow: inset 1px 1px 6px 0px #000, inset -1px -1px 6px 0px rgba(255, 255, 255, 0.5);
    min-height: 550px; }

.page-title {
  display: inline-block;
  width: auto;
  transform: rotate(2deg);
  margin: 0; }

.weather_widget_wrap {
  position: relative; }
  .weather_widget_wrap .settings-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    color: #042304;
    z-index: 10;
    transform-origin: 50% 50%;
    transform: rotate(0deg);
    cursor: pointer; }
    .weather_widget_wrap .settings-btn:hover {
      transform: rotate(180deg); }
  .weather_widget_wrap h2 {
    font-size: 45px; }
  .weather_widget_wrap .widget {
    box-shadow: -3px 4px 5px 0 rgba(218, 219, 213, 0.11);
    -mox-box-shadow: -3px 4px 5px 0 rgba(218, 219, 213, 0.11);
    -webkit-box-shadow: -3px 4px 5px 0 rgba(218, 219, 213, 0.11);
    border-radius: 0 0 20% 20%; }
  .weather_widget_wrap .row.last {
    line-height: 50px; }
  .weather_widget_wrap .data_cube svg {
    margin-right: 10px; }

.clock_wrapper {
  font-size: 35px;
  transform: rotate(-4deg); }

.location_form {
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 40px 0; }
  .location_form.fadeOut {
    z-index: -10; }
  .location_form .close-btn {
    display: inline-block;
    margin: 20px auto; }
  .location_form .inputs {
    position: relative; }
  .location_form input {
    background: transparent;
    border: 1px solid #fff;
    box-shadow: 0 0 3px #fff,inset 0 0 3px #fff;
    -moz-box-shadow: 0 0 3px #fff,inset 0 0 3px #fff;
    -webkit-box-shadow: 0 0 3px #fff,inset 0 0 3px #fff;
    text-indent: 20px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 40px;
    height: 40px; }
  .location_form .btn-primary {
    color: #fff;
    font-size: 16px;
    width: 100%;
    border-color: #2e6da4;
    text-transform: uppercase;
    line-height: 40px;
    padding: 0 0 0 35px;
    background: transparent;
    border: 1px solid #fff;
    box-shadow: 0 0 3px #fff,inset 0 0 3px #fff;
    -moz-box-shadow: 0 0 3px #fff,inset 0 0 3px #fff;
    -webkit-box-shadow: 0 0 3px #fff,inset 0 0 3px #fff;
    position: relative; }
    .location_form .btn-primary svg {
      height: 20px;
      width: 20px;
      left: 5px; }
  .location_form svg {
    position: absolute;
    height: 25px;
    width: 25px;
    top: 50%;
    left: 0;
    transform: translate(25%, -50%); }

.location_mark {
  padding: 5px;
  height: 34px;
  vertical-align: middle; }

.ace-logo {
  text-align: center;
  padding: 10px; }
  .ace-logo a {
    display: inline-block;
    cursor: pointer;
    background: #042304;
    border-radius: 50%;
    padding: 5px;
    box-shadow: inset 0px 2px 2px 1px #422D02,inset 0px -1px 0px 0px #988E79; }
